@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #17161b;
}

body {
  font-family: var(--font-inria-sans), Georgia, 'Times New Roman', Times, serif ;
  color: var(--background);
  background: var(--foreground);
}
