@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #17161b;
}

body {
  font-family: var(--font-inria-sans), Georgia, 'Times New Roman', Times, serif ;
  color: var(--background);
  background: var(--foreground);
}

/* defining scroll effect */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* defining animate scroll effect */
.animate-scroll {
  display: inline-block;
  animation: scroll 20s linear infinite;
  min-width: max-content;
}